/* # is an id selector: use only once*/
/* . is a class selector: use multiple times*/

body{
    text-align: center;
}

.container{
    margin-left: 7%;
    margin-right: 7%;

    padding-top: 4px;
    padding-bottom: 4px;
    width: auto;
    height:auto;
    background-color: rgb(115, 133, 133);
    text-align: center;
    border-radius: 10px;
}