/* # is an id selector: use only once*/
/* . is a class selector: use multiple times*/

body{
    text-align: center;
}

.container{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: auto;
    height:auto;
    background-color: rgb(53, 80, 80);
    text-align: center;
    border-radius: 10px;

}