/* # is an id selector: use only once*/
/* . is a class selector: use multiple times*/

body{
    text-align: center;
}

.mainContainer{
    width: auto;
    height:auto;
    background-color: rgb(53, 80, 80);
    text-align: center;
    bor

}