/* # is an id selector: use only once*/
/* . is a class selector: use multiple times*/

body{
    background-image: url('https://t4.ftcdn.net/jpg/00/85/63/29/360_F_85632977_1uaxH5KEDsl7YxtrfI5htbIboSCxvFKm.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*===SIDENAV===*/
#sideNav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  text-align: right;
  color: white;
  border-radius: 0 5px 5px 0;
}

#sideNav a:hover {
    left: 0;
}

#firstBtn{
    top: 30px;
    background-color: rgb(65, 63, 63);
}

#secondBtn {
    top: 90px;
    background-color: rgb(65, 63, 63);
}

#thirdBtn {
    top: 165px;
    background-color: brown;
}

/* #fourthBtn {
    top: 200px;
    background-color: brown;
} */

/*===END SIDENAV===*/


#quoteBox {
    text-align: center;
    font-style: italic;
    font-size: large;
    margin-left: 4%;
    margin-right: 4%;
    height: auto;
}


  