/* # is an id selector: use only once*/
/* . is a class selector: use multiple times*/

body{
    background-color: #f0f0f0;
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #F1F1F1;
    text-align: left;
}

/*=====TOP BOX=====*/
#topBox {
    background-color: black;
    overflow: hidden;
    height:50px; 
    position:-webkit-sticky; 
    position:sticky; 
    top:0;
}

#topBox a {
    color: #f2f2f2;
    text-decoration: none;
    display: block;
    padding: 16px 40px;
    text-align: center;
}

#topBox a:hover {
    background-color: #f1f1f1;
    color: #333;
}

/*=====ENDTOP BOX=====*/

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }